asgiref==3.8.1
astroid==3.1.0
autopep8==2.1.0
colorama==0.4.6
dill==0.3.8
distlib==0.3.8
Django==5.0.4
django-braces==1.15.0
django-cleanup==8.1.0
filelock==3.14.0
isort==5.13.2
mccabe==0.7.0
platformdirs==4.2.1
pycodestyle==2.11.1
pylint==3.1.0
sqlparse==0.5.0
tomlkit==0.12.4
tzdata==2024.1
virtualenv==20.26.1
