{%extends "includes/base.html"%}

{% block content %}

{% if page == 'almoxarife' %}

<div>
    <form method="POST" action="">
        {% csrf_token %}

        <label>Usuario:</label>
        <input type="text" name="username" placeholder="Usuario"/>

        <label>Senha:</label>
        <input type="password" name="password" placeholder="Senha"/>

        <input type="submit" value="Login"/>
    </form>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <a href="{%url 'home_page'%}">Voltar</a>
</div>
{%else%}
<div>
    <d1>Bem Vindo Aluno</d1>
    <a href="{%url 'home_page'%}">Voltar</a>
</div>
{%endif%}

{% endblock content %}