<div>
    {% for aluno in alunos %}
    <div> 
        <ul>
            {% for emprestimo in emprestimos %}
                {% if emprestimo.aluno == aluno %}
                    <li><a href="{% url 'detalhes' pk=aluno.matricula %}">{{ aluno.user.username }}</a> - {{aluno.matricula}} - {{aluno.curso}}    ---    Status:{{emprestimo.estado}}</li>
                    <ul>
                        <h4>Equipamentos:</h4>
                        {% for equipamento in equipamentos %}
                            {% if equipamento.emprestimo == emprestimo %}
                                <li>{{ equipamento.nome }}</li>
                            {% endif %}
                        {% endfor %}
                        <h4>Componentes:</h4>
                        {% for componente in componentes %}
                            {% if componente.emprestimo == emprestimo %}
                                <li>{{ componente.componente.nome }}</li>
                            {% endif %}
                        {% endfor %}
                        <hr>
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>