<div>
    {% for aluno in alunos_com_emprestimos %}
    <div> 
        <ul>
            {% for emprestimo in emprestimos %}
                {% if emprestimo.aluno == aluno %}
                    <li><a href="{% url 'detalhes' pk=aluno.matricula %}">{{ aluno.user.username }}</a></li>
                    <h3>Equipamentos:</h3>
                    <ul>
                        {% for componente in componentes %}
                            {% if componente.emprestimo == emprestimo %}
                                <li>{{ componente.componente.nome }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for equipamento in equipamentos %}
                            {% if equipamento.emprestimo == emprestimo %}
                                <li>{{ equipamento.nome }}</li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
        </ul>
        <hr>
    </div>
    {% endfor %}
</div>