<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>Empréstimos Recentes</title>
    {% block style%}

    <link rel="stylesheet" href="{% static 'css/sideBar.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
    <style>

    .sidebar .titul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: -10px;
    left: 5px;
    }
    
    </style>
    {% endblock %}
</head>
<body>
    <div class="sidebar">
        <div class = "titul">
        {% if user.is_funcionario or user.is_superuser %}
        <h5>Empréstimos Recentes</h5>
            
        </div>
        <div class="link-container">
            <a href="{% url 'emprestimo' %}">Todos</a>
        </div>

        {% for aluno in alunos_com_emprestimos %}
        <div class="aluno-link">
            <a href="{% url 'detalhes' pk=aluno.matricula %}">{{ aluno.user.username }}</a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</body>