<div>
    {% for aluno in alunos %}
    <div> 
        <ul>
            {% for emprestimo in emprestimos %}
                {% if emprestimo.aluno == aluno %}
                    {% if emprestimo.aluno != null %}
                    <li><a href="{% url 'detalhes' %}">{{ aluno.user.username }}</a></li>
                        <h3>Equipamentos:</h3>
                            {% for Componente in componentes %}
                                {% if Componente.emprestimo == emprestimo %}
                                    <li>{{ Componente.componente.nome }}</li>
                                {% endif %}
                            {% endfor %}

                            {% for equipamento in equipamentos %}
                                {% if equipamento.emprestimo == emprestimo %}
                                    <li>{{ equipamento.nome }}</li>
                                {% endif %}
                            {% endfor %}
                    {% endif %}        
                {% endif %}
            {% endfor %}
        </ul>
        <hr>
    </div>
    {% endfor %}
</div>