{% extends "base.html" %}
{% block title %}
<title>Detalhes</title>
{% endblock %}

{% block content %}
<style>
    .detalhes_aluno {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        margin-top: 40px;
    }
</style>

<div class="detalhes_aluno">
    <div>
        {% include 'componente_emprestimo_recente.html' %}
    </div>
    <div>
        <h1>{{ aluno.user.username }} - {{ aluno.matricula }} - {{ aluno.curso }}</h1>
        {% for emprestimo in emprestimos %}
            <li>Empréstimo ID: {{ emprestimo.id }}</li>
            {% if pode_editar_deletar %}
            <a href="{% url 'edit-emprestimo' emprestimo.id %}">Editar</a>
            <a href="{% url 'delete-emprestimo' emprestimo.id %}">Deletar</a>
            {% endif %}
        {% endfor %}

        <h3>Equipamentos:</h3>
        <ul>
            {% for emprestimo in emprestimos %}
                <ul>
                    {% for equipamento in equipamentos %}
                        {% if equipamento.emprestimo == emprestimo %}
                            <li>{{ equipamento.nome }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <h3>Componentes:</h3>
        <ul>
            {% for emprestimo in emprestimos %}
                <ul>
                    {% for componente in componentes %}
                        {% if componente.emprestimo == emprestimo %}
                            <li>{{ componente.componente.nome }} - Quantidade: {{ componente.quantidade }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </ul>
        <hr>
        <a href="{% url 'emprestimo' %}">Voltar</a>
        {% endblock content %}

        {% block script %}
        <script>activePage("emprestimo");</script>
        {% endblock %}
    </div>
</div>