{% extends "base.html" %}
{% load static %}

{% block title%}
<title>Emprestimos</title>
{% endblock %}

{% block style%}
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/emprestimos.css' %}">
<style>
    .card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("{% static 'imgs/pcb.jpg' %}") no-repeat center center;
        background-size: cover;
        clip-path: polygon(100% 0, 75% 0, 100% 100%);
        z-index: 0;
        opacity: 0.5;
        
    }
    
    .card::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #f0f0f0, #dcdcdc);
        clip-path: polygon(100% 0, 75% 0, 100% 100%);
        z-index: 1;
        opacity: 0.5;
    }     
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Empréstimos</h3>
    <hr>
    {% for emprestimo in object_list %}
    <div class="card">
        <div class="card-content" title="Visualizar">
            <div class="card-title">
                <h2>Empréstimo #{{ emprestimo.id }}</h2>
                <span class="card-status active">Ativo</span>
            </div>
            <p><i class="fa-solid fa-user"></i> Aluno: {{ emprestimo.aluno.user.name }} Matricula: {{ emprestimo.aluno.matricula }} email: {{ emprestimo.aluno.user.email }} curso: {{ emprestimo.aluno.curso }}</p>
            <p><i class="fa-regular fa-address-card"></i> Funcionario: {{ emprestimo.funcionario.user.name }} ID: {{ emprestimo.funcionario.id }}</p>
            <p><i class="fa-solid fa-bolt"></i> Quantidade de Equipamentos: 2</p>
            <p><i class="fa-solid fa-microscope"></i> Componentes: 1</p>
        </div>
        <div class="card-icons">
            <i class="fa-solid fa-check-double" title="Confirmar Entrega"></i>
            <i class="fas fa-edit" title="Editar Empréstimos"></i>
            <i class="fas fa-trash-alt" title="Excluir Empréstimos"></i>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script%}
<script>activePage("emprestimo");</script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
{% endblock %}