{% extends "base.html" %}
{% load static %}
{% load dict_filters %}

{% block title%}
<title>Emprestimos</title>
{% endblock %}

{% block style%}
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/emprestimos.css' %}">
<style>
    .card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("{% static 'imgs/pcb.jpg' %}") no-repeat center center;
        background-size: cover;
        clip-path: polygon(100% 0, 75% 0, 100% 100%);
        z-index: 0;
        opacity: 0.5;
        
    }
    
    .card::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, #f0f0f0, #dcdcdc);
        clip-path: polygon(100% 0, 75% 0, 100% 100%);
        z-index: 1;
        opacity: 0.5;
    }     
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Empréstimos</h3>
    <hr>
    
        {% if user.is_funcionario or user.is_superuser %}
        <p>
        <form method="get" action="{% url 'emprestimo' %}">
            <input class="col-sm-6 col-form-label" type="text" name="q" placeholder="Pesquisar aluno por nome ou matrícula..." value="{{ request.GET.q }}">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        </p>
        <p>
            <a href="{% url 'cadastrar-emprestimo' %}" class="btn btn-primary btn-sm" style="background-color: #3498db; border-color: #add8e6;">Novo empréstimo</a>
        </p>
        {% endif %}
    
    {% for emprestimo in emprestimos %}
    <div class="card" data-url="{% url 'detalhes' pk=emprestimo.aluno.matricula %}">
        <div class="card-content" title="Visualizar">
            <div class="card-title">
                <h2>Empréstimo #{{ emprestimo.id }}</h2>
                {% if emprestimo.estado == 'Ativo' %}
                <span class="card-status active">Ativo</span>
                {% elif  emprestimo.estado == 'Pendente' %}
                <span class="card-status warn">Pendente</span>
                {% elif  emprestimo.estado == 'Atrasado' %}
                <span class="card-status danger">Atrasado</span>
                {% endif %}
            </div>
            <p><i class="fa-regular fa-calendar"></i> Data de Vencimento: {{ emprestimo.data_de_devolucao }}</p>
            <p><i class="fa-solid fa-user"></i> Aluno: {{ emprestimo.aluno.user.username }} Matricula: {{ emprestimo.aluno.matricula }} email: {{ emprestimo.aluno.user.email }} curso: {{ emprestimo.aluno.curso }}</p>
            <p><i class="fa-regular fa-address-card"></i> Funcionario: {{ emprestimo.funcionario.user.name }} ID: {{ emprestimo.funcionario.id }}</p>
            <p><i class="fa-solid fa-bolt"></i> Quantidade de Equipamentos: {{ qtd_equipamentos | dict_item:emprestimo.id }}</p>
            <p><i class="fa-solid fa-microscope"></i> Componentes: {{ qtd_componentes | dict_item:emprestimo.id }}</p>
        </div>
        <div class="card-icons">
            <i class="fa-solid fa-check-double" title="Confirmar Entrega"></i>
            <i class="fas fa-edit" title="Editar Empréstimos"></i>
            <i class="fas fa-trash-alt" title="Excluir Empréstimos"></i>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block script%}
<script>activePage("emprestimo");</script>
<script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static 'js/emprestimos.js' %}"></script>
{% endblock %}