{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<!-- Bloco de Titulo da Pagina -->
{% block title %}
<title>Equipamentos</title>
{% endblock %}

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- icone da pagina -->
    <link rel="icon" href="{% static 'imgs/Logo_inatel.jpg' %}" type="image/jpg">

    <!-- Importacoes de CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block style %}
    
    {% endblock %}
    
    
</head>
<body>
    <!-- Barra de opcoes no topo da tela -->
    <div class="app-bar">
        <div class="logo">Almoxarifado Inatel</div>
        <div class="menu">
            <a href="{% url 'home_page' %}">Home</a>
            <a href="{% url 'Listar-Equipamentos' %}" id="inventario">Inventário</a>
            <a href="#">Reservas</a>
            <a href="#">Contato</a>
        </div>
        <div class="account" onclick="toggleDropdown()">
            <img src="{% static 'imgs/account_icon.png' %}" alt="Conta">
            <div id="dropdown-menu" class="dropdown">
                <a href="#">Login Funcionário</a>
                <a href="{% url 'login' %}">Login Aluno</a>
            </div>
        </div>
    </div>
    {% block extraTemplate %}
    
    {% endblock %}
    {% block content %}
        <div class="content">   
            <h3>Seu Conteudo Aqui!</h3>
        </div>
    {% endblock %} 
    
    <!-- Importacoes de Js -->
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block script %}

    {% endblock %}

</body>
</html>