{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
    body {
        background-image: url("{% static 'imgs/inatel.jpeg' %}");
    }
</style>
{% endblock %}

{% block content %}
<div class="content">
    {%if request.user.is_authenticated%}
        <div class="nome_user">
            <h1>Seja bem vindo, {{user.username}}!</h1>
        </div>
    {%endif%}
    <ul class="list">
        <li>Busque Equipamentos</li>
        <li>Realize Empréstimos</li>
        <li>Veja nossos Serviços</li>
    </ul>
</div>
{% endblock %}

{% block script %}
<script>activePage("home");</script>
{% endblock %}