{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Inventario</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/sideBar.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
{% include "includes/sideBar.html" %}
<div class="content">
    <div class="container-fluid">
        <h3>Lista de Componentes</h3>
        <a href="{% url 'Cadastrar-Componente' %}" class="btn btn-success btn-sm" title="Cadastrar">
            <i class="fa-regular fa-square-plus"></i>
            Cadastrar novo componente
        </a>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-componentes">
            
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Valor</th>
                    <th>Unidade de Medida</th>
                    <th>Localização</th>
                    <th>Opções</th>
                </tr>
            </thead>

            <tbody>
                {% for componente in object_list %}
                <tr itemID="{{ componente.id }}" itemName="{{ componente.nome }}" itemValue="{{ componente.valor }}" itemUnit="{{ componente.unidade_de_medida }}" itemLocation="{{ componente.localizacao }}">
                    <td>{{ componente.id }}</td>
                    <td>{{ componente.nome }}</td>
                    <td>{{ componente.valor }}</td>
                    <td>{{ componente.unidade_de_medida }}</td>
                    <td>{{ componente.localizacao }}</td>
                    <td>
                        <button id="emprestimoButton" class="btn btn-success btn-sm" title="Reservar">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                            Emprestar
                        </button>
                        <button id="detail-button" class="btn btn-primary btn-sm" title="Visualizar">
                            <i class="fa-regular fa-eye"></i>
                            Visualizar
                        </button>
                        <a href="{% url 'Editar-Componente' componente.id %}" class="btn btn-warning btn-sm" title="Editar">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Editar
                        </a>
                        <button id="delete-Button" class="btn btn-danger btn-sm" title="Excluir">
                            <i class="fa-regular fa-trash-can"></i>
                            Excluir
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5">Nenhum componente encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
    </div>

    <!-- Modal para confirmar exclusao -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <span id="close-button-delete" class="close-button">&times;</span>
            <h2>Confirmar Exclusão</h2>
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                ESSA AÇÃO É IRREVERSIVEL
                <i class="fa-solid fa-triangle-exclamation"></i>
            </p>
            <p id="item-details"></p>
            <div class="container-fluid">
                <button id="confirm-delete" class="btn btn-danger btn-sm" type="submit">
                    <i class="fa-regular fa-trash-can"></i>
                    Confirmar
                </button>
            </div>
        </div>
    </div>

    <!-- Modal de exibicao de detalhes do componente -->
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span id="close-button-detail" class="close-button">&times;</span>
            <h3>Detalhes do Item</h3>
            <div class="modal-body">
                <p><strong>ID:</strong> <span id="itemID"></span></p>
                <p><strong>Nome:</strong> <span id="itemName"></span></p>
                <p><strong>Valor:</strong> <span id="itemValue"></span></p>
                <p><strong>Localização:</strong> <span id="itemLocation"></span></p>
            </div>
        </div>
    </div>

    <!-- Modal para adicionar novos emprestimos pelo botão emprestar -->
    <div id="emprestimoModal" class="modal">
        <div class="modal-content">
            <span id="close-button-emprestimo" class="close-button">&times;</span>
            <h3>Emprestar Componentes</h3>
            <div class="modal-body">
                <p>Esolha se deseja criar um novo emprestimo ou apenas adicionar este item a um emprestimo existente:</p>
                <a href="{% url 'cadastrar-emprestimo' %}" class="btn btn-success btn-lg">
                    <i class="fa-solid fa-plus"></i>
                    Criar novo emprestimo
                </a>
                <button id="addEmprestimo" class="btn btn-primary btn-lg" type="submit">
                    <i class="fa-solid fa-cart-plus"></i>
                    Adicionar item a um emprestimo existente
                </button>
            </div>
        </div>
    </div>

    <!-- Modal para inserção do id do emprestimo que ira receber o equipamento -->
    <div id="empretimoIDmodal" class="modal">
        <div class="modal-content">
            <h3>Insira o ID do emprestimo que deseja adicionar este equipamento</h3>
            <div class="modal-body">
                <div>
                    <label>Emprestimo:</label>
                    <input class="form-control mb-2" type="number" id="addEmprestimoID" placeholder="ID do emprestimo"/>
                    <label>Quantos deste componente seram emprestados:</label>
                    <input class="form-control mb-2"  type="number" id="addEmprestimoQtd" placeholder="Quantidade de componentes a serem emprestados"/>
                    <button id="confirm-add-emprestimo" class="btn btn-success btn-sm mb-2" type="submit">
                        <i class="fa-solid fa-check"></i>
                        Confirmar
                    </button>
                </div>
                <button id="cancel-add-emprestimo" class="btn btn-danger btn-sm" type="submit">
                    <i class="fa-solid fa-arrow-left"></i>
                    Cancelar
                </button>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/componentes.js' %}"></script>
    <script> 
        activePage("inventario");
        activePage("Lista-Componentes");
    </script>
{% endblock %}
