{% extends "includes/base.html" %}
{% load static %}

{% block title %}
<title>Componentes</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/sideBar.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
{% endblock %}

{% block content %}
{% include "includes/sideBar.html" %}
<div class="content">
    <h3>Lista de Componentes</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Nome</th>
                <th>Valor</th>
                <th>Unidade de Medida</th>
                <th>Opções</th>
            </tr>
            {% for componente in object_list %}
            <tr>
                <td>{{ componente.nome }}</td>
                <td>{{ componente.valor }}</td>
                <td>{{ componente.unidade_de_medida }}</td>
                <td>
                    <a href="" class="btn btn-success btn-sm" title="Reservar">
                        Reservar
                        <i class="fa fa-bookmark" aria-hidden="true"></i>
                    </a>
                    <a href="" class="btn btn-primary btn-sm" title="Visualizar">
                        Visualizar
                        <i class="fa-regular fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum componente encontrado</td>
            </tr>
            {% endfor %}

        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script> 
        activePage("equipamentos");
        activePage("Lista-Componentes");
    </script>
{% endblock %}
