{% extends "includes/base.html" %}
{% load static %}

{% block title %}
<title>Equipamentos</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/sideBar.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
{% include "includes/sideBar.html" %}
<div class="content">
    <h3>Lista de Equipamentos</h3>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-equipamentos">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Opções</th>
                </tr>
            </thead>

            <tbody>
                {% for equipamento in object_list %}
                <tr>
                    <td>{{ equipamento.id }}</td>
                    <td>{{ equipamento.nome }}</td>
                    <td>{{ equipamento.descricao }}</td>
                    <td>
                        <a href="" class="btn btn-success btn-sm" title="Reservar">
                            Reservar
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                        </a>
                        <a href="" class="btn btn-primary btn-sm" title="Visualizar">
                            Visualizar
                            <i class="fa-regular fa-eye"></i>
                        </a>
                        <a href="" class="btn btn-warning btn-sm" title="Editar">
                            Editar
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                        <a href="" class="btn btn-danger btn-sm" title="Excluir">
                            Excluir
                            <i class="fa-regular fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum equipamento encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script> 
        activePage("inventario");
        activePage("Lista-Equipamentos");
        $(document).ready(function(){
            //usa o plugin datatables para colocar campos de pesquisa, e ordenacao na tabela
            $("#tabela-equipamentos").DataTable({
                // aplica traducao para portugues nos campos da tabela
                responsive: true,
                // "bSort": false,
                "aaSorting": [],
                "pageLength": 50,
                "language": {
                    "decimal": "",
                    "emptyTable": "Sem dados disponíveis",
                    "info": "",
                    "infoEmpty": "",
                    "infoFiltered": "",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "",
                    "loadingRecords": "A carregar dados...",
                    "processing": "A processar...",
                    "search": "Procurar:",
                    "zeroRecords": "Não foram encontrados resultados",
                    "paginate": {
                        "first": "Primeiro",
                        "last": "Último",
                        "next": "Seguinte",
                        "previous": "Anterior"
                    },
                    "aria": {
                        "sortAscending": ": ordem crescente",
                        "sortDescending": ": ordem decrescente"
                    }
                }
            });
        });
    </script>
{% endblock %}

