{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Inventario</title>
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/sideBar.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'fa/css/all.min.css' %}">
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
{% endblock %}

{% block content %}
{% include "includes/sideBar.html" %}
<div class="content">
    <div class="container-fluid">
        <h3>Lista de Equipamentos</h3>
        <a href="{% url 'Cadastrar-Equipamento' %}" class="btn btn-success btn-sm" title="Cadastrar">
            <i class="fa-regular fa-square-plus"></i>
            Cadastrar novo equipamento
        </a>
    </div>
    <hr>
    <div class="table-responsive">
        <table class="table table-striped" id="tabela-equipamentos">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Opções</th>
                </tr>
            </thead>

            <tbody>
                {% for equipamento in object_list %}
                <tr>
                    <td>{{ equipamento.id }}</td>
                    <td>{{ equipamento.nome }}</td>
                    <td>{{ equipamento.descricao }}</td>
                    <td itemID="{{ equipamento.id }}" itemName="{{ equipamento.nome }}" description="{{ equipamento.descricao }}">
                        <a href="" class="btn btn-success btn-sm" title="Reservar">
                            <i class="fa fa-bookmark" aria-hidden="true"></i>
                            Reservar
                        </a>
                        <button id="detail-button" class="btn btn-primary btn-sm" title="Visualizar">
                            <i class="fa-regular fa-eye"></i>
                            Visualizar
                        </button>
                        <a href="{% url 'Editar-Equipamento' equipamento.id %}" class="btn btn-warning btn-sm" title="Editar">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Editar
                        </a>
                        <button id="delete-Button" class="btn btn-danger btn-sm" title="Excluir">
                            <i class="fa-regular fa-trash-can"></i>
                            Excluir
                        </button>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="4">Nenhum equipamento encontrado</td>
                </tr>
                {% endfor %}
            </tbody>
                
        </table>
    </div>

    <!-- Modal para confirmar exclusao -->
    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <span id="close-button-delete" class="close-button">&times;</span>
            <h2>Confirmar Exclusão</h2>
            <p>
                <i class="fa-solid fa-triangle-exclamation"></i>
                ESSA AÇÃO É IRREVERSIVEL
                <i class="fa-solid fa-triangle-exclamation"></i>
            </p>
            <p id="item-details"></p>
            <div class="container-fluid">
                <button id="confirm-delete" class="btn btn-danger btn-sm" type="submit">
                    <i class="fa-regular fa-trash-can"></i>
                    Confirmar
                </button>
            </div>
        </div>
    </div>

    <!-- Modal de exibicao de detalhes do equipamento -->
    <div id="detailModal" class="modal">
        <div class="modal-content">
            <span id="close-button-detail" class="close-button">&times;</span>
            <h3>Detalhes do Item</h3>
            <div class="modal-body">
                <p><strong>ID:</strong> <span id="itemId"></span></p>
                <p><strong>Nome:</strong> <span id="itemName"></span></p>
                <p><strong>Descrição:</strong> <span id="itemDescription"></span></p>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/datatables.min.js' %}"></script>
    <script src="{% static 'js/equipamentos.js' %}"></script>
    <script> 
        activePage("inventario");
        activePage("Lista-Equipamentos");
    </script>
{% endblock %}

