{% extends "base.html" %}
{% load static %}

{% block title%}
<title>Inventario</title>
{% endblock %}

{% block style%}
<style>
    .content{
        font-size: large;
        margin-top: 60px;
        background-color: white;
        position: center;
    }
</style>
{% endblock %}

{% block content %}
<div class="content">
    <h3>Cadastro de Equipamento</h3>
    <p class="lead">
        Preencha todos os campos adequadamente
    </p>

    <hr>

    <form action="" method="POST">

        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">Salvar</button>

    </form>

</div>
{% endblock %}

{% block script%}
<script>activePage("inventario");</script>
{% endblock %}